{% extends 'base.html' %}
{% block content %}
<h2>Students:</h2>
<a href="../create_user">Create student</a><br><br>
    {% for student in content.students %}
        {{ student.username }}
        <br>
        <a href="../home/enrollment_form/{{ student.id }}"> Enrollment form </a><br>     
        <a href="{{ student.get_absolute_url }}update_user">Update</a><br>
        <a href="{{ student.get_absolute_url }}delete_confirmation_user">Delete</a><br>
        <br>
    {% endfor %}
{% endblock %}